@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/img1.jpg);
    background: cover fixed; 
}
h1{
    color: rgba(2, 9, 32, 0.87);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 5px rgb(23, 23, 53), 0 0 25px rgb(255, 255, 255),0px 0px 5px rgb(17, 2, 56);
}
h2{
    color: rgb(26, 79, 129);
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.signin{
    background: rgba(255, 255, 255, 0.699);
    padding: 15px;
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
img{
    width: 65px;
    margin-top: -50px;
}
form{
    text-align: center;
}
.in{
    font-size: 18px;
    font-weight: 200px;
	width: 240px;
    background: transparent;
    border: 2px solid;
    border-radius: 20px;
	text-align: center;
    outline: none;
    color: black;
    padding: 4px;
}
.signin .btn{
    background-color: rgb(173, 224, 245);
}
.btn{
    font-size: 16px;
    color: rgb(5, 30, 54);
    font-weight: bold;
    line-height: 25px;
    border: 1.5px solid rgb(173, 224, 245);
    border-radius: 15px;
    cursor: pointer;
}
