body{
    display: flex;
    background-color: rgb(250, 250, 250);
    justify-content: center;
    padding: 30px;
    width: 90%;
}
#container{
    justify-content: center;
    background:#f8d783;
    width: 50%;
    padding: 40px 50px 40px 50px;
    border-radius:9px;
}
.user-details .input-box input{
    width:70%;
    outline:none;
    border-radius:5px;
    padding-left:15px;
    font-size:16px;
}
fieldset {
    border:10px solid #DF3F3F;
    }
legend{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(248, 150, 2), 0 0 25px rgb(154, 154, 192), 0 0 5px rgb(253, 110, 110);
    position: relative;
}
form{
    text-align: center;
}
.details{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
input[type=text]{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 200;
    background: #f8d783;
    border: 2px solid rgb(175, 155, 63);
    padding: 8px;
    transition: border 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #555;
  }
input[type=password]{
	font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 200;
    background: #f8d783;
    border: 2px solid rgb(175, 155, 63);
    padding: 8px;
    transition: border 0.5s;
    outline: none;
}
input[type=password]:focus {
    border: 3px solid #555;
}
form .button input{
    height:100%;
    width: 100%;
    outline:none;
    color: #fff;
    background: #44340b;
    border:none;
    font-size:18px;
    font-weight:500;
    border-radius:5px;
    letter-spacing:1px;
}
form .button input:hover{
    background:#b4a945;
    cursor: pointer;
}
.button{
    height:40px;
    width: 50%;
    margin:auto;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
a:hover, a:active {
    color: rgb(112, 35, 35);
  }
